.Illustrations{font-style: italic;text-align: center;}
.Publisher{font-variant: small-caps;font-family: serif;text-align: center;}
.Year{text-align: center;font-variant: small-caps;}
#Intro{text-align: center;}
#Intro2{text-align: center;}
#Intro4{text-align: center;}
.Title{font-variant: small-caps;text-align: center;}
#Number{text-align: center;}
#picture{text-align: center;}
#page_1{page-break-before: always;}
#page_43{page-break-after: always;}
#page_44{page-break-after: always;}
#page_45{page-break-after: always;}
#page_46{page-break-after: always;}
#page_47{page-break-after: always;}
#page_48{page-break-after: always;}
#page_49{page-break-after: always;}
#page_50{page-break-after: always;}
#page_51{page-break-after: always;}
#page_52{page-break-after: always;}
#page_53{page-break-after: always;}
#page_54{page-break-after: always;}
#page_55{page-break-after: always;}
#page_56{page-break-after: always;}
#page_57{page-break-after: always;}
#page_58{page-break-after: always;}
#page_59{page-break-after: always;}
#page_60{page-break-after: always;}
