em{
  font-style: italic;
}

strong{
  font-weight: bold;
  text-transform: uppercase;
}

h3{
  font-size: x-large;
  font: garamond;
  font-family: serif;
  text-align: center;
  text-transform: uppercase;
}

h4{
  font-size: large;
  font: garamond;
  font-family: serif;
  text-align: center;
  text-transform: uppercase;
}

figcaption{
  font-style: italic;
}

blockquote{
  font-style: italic;
  text-align: center;
}
